<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="common-header">
    <title>The Team</title>
    <link th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
    <link  type="text/css" th:href="@{/css/style.css}" rel="stylesheet" media="screen"/>
</head>
<div th:fragment="body-script">
    <script th:src="@{/webjars/bootstrap/3.3.6/js/bootstrap.js}"></script>
    <script th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>
</div>
</html>