.starter-template {
    background-image:url("/images/img2.jpeg");
    min-height: 675px;
    padding-top: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.starter-template > h1 {
    color: white;
    text-align: center;
}


